.ButtonContainer {
    position: relative;
    text-align: center;
    color: white;
    background-color:blue;
    width: 80px;

  }

.ButtonContainer span {
    text-align:left;
}

  /* Centered text */
.ButtonContainer div {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}