img {
    scale: 100%;
}

.ProductButtonContainer {
    position: relative;
    text-align: center;
    color: white;
    background-color:rgb(255, 0, 187);
    padding: 20px;
  }

  .ButtonsContainer {
      align-content:space-between;
  }
