.TopbarButtonContainer {
  width: 100%;
  height: 100%;
  max-width: 150px;
  min-width: 70px;
}

.TopbarLoginButtonContainer {
  animation: shake-animation 4s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes shake-animation {
    0% {transform: rotate(0deg)}
    1% {transform: rotate(5deg)}
    2% {transform: rotate(0deg)}
    3% {transform: rotate(-5deg)}
    4% {transform: rotate(0deg)}
    5% {transform: rotate(5deg)}
    6% {transform: rotate(0deg)}
    7% {transform: rotate(-5deg)}
    8% {transform: rotate(0deg)}
    9% {transform: rotate(5deg)}
    10% {transform: rotate(0deg)}
    100% {transform: rotate(0deg)}
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:inherit;
  background-color: var(--primary-0);
}

.Topbar-container {
  display: flex;
  align-items: center;
  justify-content: left;
}

.Topbar-left-container, .Topbar-middle-container, .Topbar-right-container{
  height: 70%;
  margin-top: auto;
  margin-bottom: auto;
}

.Topbar-left-container {
  width: 15vw;
  margin-left: 3%;
}

.Topbar-middle-container {
  width: auto;
  justify-content: center;
  p {
    color: var(--background-0);
    font-size: 2vw;
  }
}

.Topbar-right-container {
  width: 25vw;
  justify-content: right;
  margin-right: 3%;
  gap: 5%; 
}
