.Checkout-Button {
    width: 15vw;
    height: 5vw;
    min-height: 60px;
    min-width: 150px;
}

.Basket-Cards{
    display:flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2vw;
    margin: 2vw;
}

.TotalAndButton {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.BasketPage {
    padding-bottom: 20px;
}