.BurgerMenuButton {
  input {
    position: absolute;
    display: block;
    height: 20%;
    width: 32px;
    top: 8px;
    left: 3%;
    z-index: 5;
    opacity: 0; //set it to 100 to easier change it
    &:checked ~ .BurgerMenuButton-lines {
      .line {
        transform: rotate(35deg);
      }
      .line2 {
        transform: scaleY(0);
      }
      .line3 {
        transform: rotate(-35deg);
      }
    }
  }
}

.BurgerMenuButton-lines {
  display: block;
  height: 23px;
  width: 35px;
  position: absolute;
  top: 10%; //hamburger lines position from the top
  left: 3.5%; //hamburger lines position from the side
  z-index: 4; //has to be one smaller than for the checkbox
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }
  .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
}
