.NavbarController {
    height: 100%;
}

@media screen and (max-width: 768px) {
    @import 'PhoneNav.scss';
    .NavbarController-BurgerMenuButton {
        display:inline-block;
    }
    .NavbarController-PhoneNav{
        #true {
            display: inline-block;
            z-index: 3;
        }
        #false {
            display: none;
        }
        
    }
    .NavbarController-Sidebar{
        display: none;
    }
}

@media screen and (min-width: 769px) {
    @import 'Sidebar.scss';
    .NavbarController-BurgerMenuButton {
        display: none;
    }
    .NavbarController-PhoneNav{
        display: none;
    }
    .NavbarController-Sidebar{
        display: block;
        height: 100%;
    }
}