// .NavbarController-PhoneNav, .NavbarController-Sidebar{
//     text-align: center;
// }

.NavbarController {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .NavbarController-PhoneNav{
        display: inline-block;
    }
    .NavbarController-Sidebar{
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .NavbarController-PhoneNav{
        display: none;
    }
    .NavbarController-Sidebar{
        display: block;
        height: 100%;
    }
}