.Sidebar-Filter-Items {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: var(--primary-0);
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  height: 90%;
  width: 90%;
  h1 {
    color: var(--background-0);
  }
}

.Sidebar #hamburger,
.Sidebar-Hamburger-lines {
  display: none;
}

.SidebarPrice {
  display: flex;
  flex-direction: column;
}

.SidebarAnimals-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.SidebarAnimals-animalfilteritem {
  height: auto;
  align-items: center;
  width: 100%;
  .SidebarAnimals-icon {
    max-height: 2em;
    pointer-events: all;
  }
  &:hover {
    cursor: pointer;
    color: var(--primary-light);
    .SidebarAnimals-icon {
      transform: scale(1.1);
    }
  }
  &:active {
    cursor: pointer;
    color: var(--primary-dark);
    .SidebarAnimals-icon {
      transform: scale(1.1);
    }
  }
}

.Sidebar-checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  vertical-align: center;
  .Sidebar-Filter-Checkbox {
    width: 1.5em;
    height: 1.5em;
    border-radius: 20px;
    &:checked + label {
      color: var(--background-0);
      text-decoration: underline;
    }
  }
}

.Sidebar-subcategories {
  padding-left: 10%;
  display: none;
}

.SidebarPrice {
  input {
    width: 20%;
  }
}

.SidebarAnimals-animalfilteritem {
  width: 40%;
}
