html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  border: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  // height: 100%;
  min-height: 100%;

  //variables for screen sizes
  --phoneSize: 768px;
  --desktopSize: 769px;

  padding: 0;
  border: 0;
  margin: 0;
  display: inline-block;

  background-color: var(--background-0);
  // Primary color with a light and dark nuance
  --primary-0: #2b6777; //topbar, sidebar 
  --primary-light:  #3e8092; //sidebar_hover
  --primary-dark:  #1f515f; //sidebar_clicked
  // Primary dark offset color with a light and dark nuance
  
  --secondary-0:#52ab98; //button
  --secondary-light: #60b7a4; //button_hover
  --secondary-dark: #3e9280; //button_clicked

  --tertiary-0: #b5ccdd; //carrousel
  --tertiary-light: #11e4cc;
  --tertiary-hover: #97f4e9;

  --background-0: #c8d8e4;

  --error: #FF1D58;
}