.Frontpage-Content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Frontpage-OfferCarouselContainer {
    height: 50%;
    width: 80%;
}

.Frontpage-resultscontainer{
    height: 50%;
    
    .ShowResults{
        background-color: var(--background-0);
    }
}

.Frontpage-resultscontainer-carousel-container{
    &-hide{display: none;}
    &-show{display:block;}
}

.noResultsMsg {
    &-hide{display: none;}
    &-show{display:block;}
}

@media screen and (min-width: 767px) {
    .Frontpage-sidebarcontainer{
        position: fixed;
        width: 20%;
        height: 100%;
    }

    .Frontpage-resultscontainer{
        position:absolute;
        right:0%;
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .Frontpage-sidebarcontainer{
        width: 0%;
    }
    .Frontpage-resultscontainer{
        width: 100%;
    }
}

