.Frontpage-Content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Frontpage-resultscontainer{
    background-color: var(--background-0);
}


@media screen and (min-width: 767px) {
    .Frontpage-sidebarcontainer{
        position: fixed;
        width: 20%;   
    }

    .Frontpage-resultscontainer{
        position:absolute;
        right:0%;
        width: 80%; 
    }
}

@media screen and (max-width: 768px) {
    .Frontpage-sidebarcontainer{
        width: 0%;
    }
    .Frontpage-resultscontainer{
        width: 100%;
    }
}

