.Frontpage-Content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Frontpage-sidebarcontainer{
    width: 20%;   
}

.Frontpage-resultscontainer{
    width: 80%;
}

@media screen and (max-width: 768px) {
    .Frontpage-sidebarcontainer{
        width: 0%;
    }
    .Frontpage-resultscontainer{
        width: 100%;
    }
}

